{% extends 'base.html' %}

{% block container %}
<h2><center>Hi!</center></h2>
<p>Welcome to my task management app! With this app, you can easily organize and keep track of all your tasks in one place. Create new tasks, set deadlines, track progress, and edit or delete tasks as needed. Our user-friendly interface and intuitive design make it easy to stay on top of your to-do list and manage your time efficiently. Start using our app today and experience the benefits of effective task management!
<br>
<center>Task management is no task for the meek, but I've got you covered!</center>

</p>
{% endblock %}